<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<h3>TicTacToe REST API</h3>
<div>
    <ul>
        <il><a href="/history">История игр</a></il>
        <il><a href="/topPlayers">Топ игроков</a></il>
        <il><a href="/players">Список игроков</a></il>
    </ul>
</div>
</body>
</html>